.button {
  text-align: center;
  align-self: center;
  align-items: center;
}

.navlinks {
  margin-left: 150px;
  display: "flex"
}

.logo {
  cursor: "pointer",
}

.buttons:hover {
  color: blue;
}

.register:hover {
  color: rgb(62, 53, 230);
}

@media only screen and (max-width: 1100px) {
  .logo {
    flex-grow: 1;
  }
}